extends layout

block content
  .page-header
    h1 Messages from Inbox

    #loader.hide Loading messages... Just wait a few seconds

    #paginator.hide Paginator:
      span#to
      span -
      span#from
      span#to-arrow.glyphicon.glyphicon-chevron-left.active-link.to
      span#from-arrow.glyphicon.glyphicon-chevron-right.active-link.from


  #container

