<div id="message-wrapper" class="well">
    <div><strong><%= seqIndex %></strong></div>
    <div id="from-wrapper" class="field">
        <span class="field-title"><strong>From:</strong></span>
        <span class="field-value"><%= from %></span>
    </div>
    <div id="date-wrapper" class="field">
        <span class="field-title"><strong>Date:</strong></span>
        <span class="field-value"><%= date %></span>
    </div>
    <div id="subject-wrapper" class="field">
        <span class="field-title"><strong>Subject:</strong></span>
        <span class="field-value"><%= subject %></span>
    </div>

    <div><strong>Text:</strong></div>
    <div id="text"><% print(text) %></div>

</div>