body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.message-wrapper .field {
    margin-bottom: 10px;
}

.active-link {
    color: #00B7FF;
    cursor: pointer;
}

.active-link:hover {
    color: #2a6496;
}

